[submodule "Firmware/lib/Arduino/libraries/ADC"]
	path = Firmware/lib/Arduino/libraries/ADC
	url = https://github.com/pedvide/ADC.git
[submodule "Firmware/lib/Arduino/libraries/Bounce2"]
	path = Firmware/lib/Arduino/libraries/Bounce2
	url = https://github.com/thomasfredericks/Bounce2.git
[submodule "Firmware/lib/Arduino/libraries/SPI"]
	path = Firmware/lib/Arduino/libraries/SPI
	url = https://github.com/PaulStoffregen/SPI.git
[submodule "Firmware/lib/Arduino/libraries/Encoder"]
	path = Firmware/lib/Arduino/libraries/Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
[submodule "Firmware/lib/Arduino/libraries/Audio"]
	path = Firmware/lib/Arduino/libraries/Audio
	url = https://github.com/PaulStoffregen/Audio.git
[submodule "Firmware/lib/Arduino/libraries/MIDI"]
	path = Firmware/lib/Arduino/libraries/MIDI
	url = https://github.com/PaulStoffregen/MIDI.git
[submodule "Firmware/lib/Arduino/libraries/OSC"]
	path = Firmware/lib/Arduino/libraries/OSC
	url = https://github.com/CNMAT/OSC.git
