[submodule "Firmware/library/SPI"]
	path = Firmware/library/SPI
	url = https://github.com/PaulStoffregen/SPI.git
[submodule "Firmware/library/ADC"]
	path = Firmware/library/ADC
	url = https://github.com/pedvide/ADC.git
[submodule "Firmware/library/Encoder"]
	path = Firmware/library/Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
[submodule "Firmware/library/elapsedMillis"]
	path = Firmware/library/elapsedMillis
	url = https://github.com/pfeerick/elapsedMillis.git
[submodule "Firmware/library/Bounce2"]
	path = Firmware/library/Bounce2
	url = https://github.com/thomasfredericks/Bounce2.git
[submodule "Firmware/library/Audio"]
	path = Firmware/library/Audio
	url = https://github.com/PaulStoffregen/Audio.git
